/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* hvi cuộn */
    scroll-behavior: smooth;
    font-family: 'McLaren', cursive;
}

body {
    background: #eee;
    /*height: 2000px;*/
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgb(198, 104, 28);
    padding: 16px 32px;
    margin: auto -16px;
}

/*KEEPER APP*/
header h1 {
    color: #fff;
    font-weight: 1000;
    text-shadow: 0 7px 5px rgb(32, 31, 3);
}

header .header-icon {
    font-size: 25px;
    font-weight: 1000;
    padding-right: 10px;
}

#Note {
    background-color: rgb(240, 200, 200);
    /*border-radius: 20px;*/
    box-shadow: 0 2px 5px rgb(32, 31, 3);
    padding: 10px;
    width: 200px;
    margin: 10px;
    float: left;
}

#Note h1 {
    font-size: 1em;
    /*margin-top: 6px;*/
}

#Note p {
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#Note button {
    position: relative;
    float: right;
    color: #e8bc42;
    font-weight: 700;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: #eee;
    outline: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}

form {
    position: relative;
    width: 480px;
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 15px;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

form button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #da760b;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

footer {
    width: 100%;
    position: absolute;
    text-align: center;
    height: 2em;
    bottom: 0;
    /*bottom: -1500px;*/
}